.row.luxe-registry-page
	= render 'layouts/page_top_header'
	.row.results-page
		.results-content
			%label.page-title Search Results
			%label The following registries meet your criteria.
			%label Click on a registrant's name or registry number to view.
			%br/
			%br/
			%table.table
				%thead
					%tr
						%th Registry#
						%th Registrant
						%th Co-Registrant
						%th Event
						%th Event Date
				%tbody.registry-content
					- @registries.each do |registry|						
						%tr
							%td
								%a{:href=>registry_view_path+"?id="+registry.id.to_s}
									= registry.id
							%td
								= registry.registrant_name
							%td
								= registry.co_registrant_name
							%td
								= registry.event.name
							%td
								= registry.event_date.strftime('%m/%d/%Y')
			.row.last-row
				= link_to "< SEARCH AGAIN", find_registry_path, :class=>"btn-search"
