.row.offers-page
  .row.top-row
    .top-nav
      %label.page-title Offers List
  %br/
  .row.second-row
    .input-form{:style=>"margin-bottom:30px;overflow-x: scroll;"}
      %table.table-striped.table-hover
        %tr
          %th{:style=>"width: 5%"} Title
          %th{:style=>"width: 15%"} Summary
          %th{:style=>"width: 15%"} Overview
          %th{:style=>"width: 5%"} Amount
          %th{:style=>"width: 15%"} Details
          %th{:style=>"width: 15%"} Location
          %th{:style=>"width: 15%"} Merchant
          %th
          %th
          %th

        - @offers.each do |offer|
          %tr
            %td= offer.title
            %td= offer.summary
            %td= offer.overview
            %td= offer.amount
            %td= offer.details
            %td= offer.location
            %td= offer.merchant
            %td= link_to "Preview", "/purchase/"+offer.id.to_s, :class => 'btn btn-mini'
            %td= link_to 'Edit', edit_offer_path(offer), :class => 'btn btn-mini'
            %td= link_to 'Delete', offer, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-mini btn-danger"

      %br

      = link_to 'New Offer', new_offer_path
