.row.offers-page
  .row.top-row
    .top-nav
      %label.page-title Offers List
  %br/
  .row.second-row
    .input-form{:style=>"margin-bottom:30px;"}
      %table
        %tr
          %th Title
          %th Summary
          %th Overview
          %th Amount
          %th Details
          %th Location
          %th Merchant
          %th
          %th
          %th

        - @offers.each do |offer|
          %tr
            %td= offer.title
            %td= offer.summary
            %td= offer.overview
            %td= offer.amount
            %td= offer.details
            %td= offer.location
            %td= offer.merchant
            %td= link_to "Preview", "/preview/"+offer.id.to_s, :class => 'btn btn-mini'
            %td= link_to 'Edit', edit_offer_path(offer), :class => 'btn btn-mini'
            %td= link_to 'Destroy', offer, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-mini btn-danger"

      %br

      = link_to 'New Offer', new_offer_path
