.row.payment-page
	= render 'layouts/page_top_header'
	.row.new-payment-page
		.payment-page			
			%label.page-title Payment Method
			%label Please fill in the information below to add a new credit card
			%label 
				For questions regarding privacy protection, please see ourt 
				%a{:href=>"#"} Privacy Policy
			.row.last-row
			.row.input-form
				= simple_form_for @order, :url=>payment_checkout_path do |f|
					- if @order.errors.any?
						.error_messages
							%h4
								= pluralize(@order.errors.count, "error")
								prohibited this user from being saved:
							%ul
								- @order.errors.full_messages.each do |msg|
									%li= msg
					.span5
						= f.input :first_name, :label=>"First Name*", required: false
						= f.input :last_name, :label=>"Last Name*", required: false
						%label Card Number*
						= text_field_tag :card_number, nil, name: 'card_number'
						.row
							%label Expiration date*
							.span2
								= select_month Date.today.month, {}, {:"data-stripe"=>"exp-month", :name=>'exp_month'}
							.span2
								= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {:"data-stripe"=>"exp-year", :name=>'exp_year'}
						%label Security Code
						= text_field_tag :card_number, nil, name: 'security_code'
						.row
							%label Telephone
							.span1
								= text_field_tag 'tel_number[]', nil, :class=>"card_number", :maxlength=>"4", :id=>"tel_num1"
							.span1
								= text_field_tag 'tel_number[]', nil, :class=>"card_number", :maxlength=>"4", :id=>"tel_num2"
							.span1
								= text_field_tag 'tel_number[]', nil, :class=>"card_number", :maxlength=>"4", :id=>"tel_num3"
							/= f.hidden_field :tel_number
						= f.input :email
						%label Preferred Means of Contact:						
						.span2.checkbox
							= f.input :is_telephone, as: :boolean, :label=>'Telephone'
						.span2.checkbox
							= f.input :is_email, as: :boolean, :label=>'Email'									
					.span4
						%label Billing Address
						%br/
						= f.input :address, :label=>"Addrewss1*", required: false
						= f.input :optional_address, :label=>"Addrewss2", required: false
						= f.input :city, :label=>"City*", required: false
						= f.input :state, :label=>"State*", required: false
						= f.input :zip_code, :label=>"Zip Code*", required: false
						.row
							%br/
							%br/
							%br/
							%br/
							= f.submit 'SAVE & CONTINUE', :style=>"background-color: rgb(217, 227, 225);border: medium none;font-size: 18px;padding: 5px 40px;"
			