%ul.manage-top-nav

	%li
		= link_to 'My Registry', luxe_registries_path

	- if params[:action] == 'account_settings'
		%li.select
			= link_to 'Account Settings', account_settings_path
	- else
		%li
			= link_to 'Account Settings', account_settings_path

	- if params[:action] == 'purchase_registry'
		%li.select
			= link_to 'My Purchases', purchase_registry_path
	- else
		%li
			= link_to 'My Purchases', purchase_registry_path

	- if params[:action] == 'subscriptions'
		%li.select
			= link_to 'My Subscriptions', subscriptions_path
	-else
		%li
			= link_to 'My Subscriptions', subscriptions_path